.form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    min-height: 100vh;
    min-width: 100vh;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 6px;
    box-sizing: border-box;
    width: 400px;
    height: fit-content;
    padding: 10px 15px;
    background-color: #906CB2;
    font-weight: 500;
    font-size: 15px;
}

.form label {
    margin-top: 10px;
    line-height: 1.1em;
    color: white;
}

.form input {
    padding: 7px;
    border-color: transparent;
    border-radius: 5px;
}

.form input:focus {
    border-color: transparent;
    outline: #ACABAB solid 1px;
}

.form button {
    align-self: center;
    margin-top: 25px;
    width: 50%;
    padding: 7px 0px;
    border-color: transparent;
    border-radius: 5px;
    background-color: #ACABAB;
    color: white;
    font-weight: 500;
    font-size: 15px;
    cursor: pointer;
}

.switchForm {
    cursor: pointer;
}