.topBar {
    background-color: #acabab;
    width: 100%;
    top: 0;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 20px;
}

.topBar ul {
    margin: 0;
    list-style: none;
    display: flex;
    gap: 20px;
}

.topBar .user-info {
    position: relative;
}

.topBar .dropdown-menu {
    position: absolute;
    top: 100%;
    right: 0;
    background: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    border: 1px solid #ccc;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-menu a{
    color: black;
    padding: 10px 60px 10px 20px;
}

.dropdown-menu a:hover{
    background-color: #7c7c7c;
    color: white;
}



.user-info {
    display: flex;
    align-items: center;
    gap: 15px;
}

.arrow-icon {
    font-size: 25px;
    cursor: pointer;
}

.arrow-icon:hover {
    background-color: #7c7c7c;
    border-radius: 30px;
}

.logo {
    background-image: url('../../assets/logo.jpg');
    width: 40px;
    height: 40px;
    background-size: cover;
    border-radius: 30px;
}