.filter {
    bottom: 0;
    padding: 10px 10px 0px 20px;
    flex: 10%;
}

.filter.light, .sideBar.light{
    background-color: #acabab;
    color: #333;
}

.filter.dark,.sideBar.dark {
    background-color: #4d4d4d;
    color: #fff;
}

.filter h4 {
    margin-top: 10px;
    margin-bottom: 10px;
}

.filter label {
    margin: 1px 0px;
}

.sideBar {
    margin: 0px 20px 20px;
    display: flex;
    flex-direction: column;
}
