@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&display=swap');

.main {
  display: flex;
}


.content {
  padding: 20px;
  flex: 80%;
}

.cards {
  display: flex;
  gap: 50px;
  flex-wrap: wrap;
  font-family: "Noto Sans JP", sans-serif;
  font-weight: 600;
  font-size: 30px;
  padding: 20px;
}

.card-added-to-practice {
  background-color: #323232;
  color: #434242;
  border-radius: 20px;
}

.card-container {
  display: flex;
  flex-direction: column;
}

.flip-card {
  width: 150px;
  height: 150px;
  perspective: 1000px;
  cursor: pointer;
  transition: transform 0.3s;
  position: relative;
}

.flip-card:hover {
  transform: scale(0.9);
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 0.3s;
  transform-style: preserve-3d;
  background-color: rgb(145, 109, 178);
  border-radius: 20px;
}

.flip-card-inner.flipped {
  transform: rotateY(180deg) scale(1);
}

.front,
.back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.back {
  background-color: dodgerblue;
  color: white;
  transform: rotateY(180deg);
  border-radius: 20px;
}

.add-btn {
  display: flex;
  background-color: transparent;
  border: 1px solid white;
  justify-content: center;
  align-items: center;
  padding: 0;
  border-radius: 30px;
  width: 25px;
  height: 25px;
  cursor: pointer;
  position: absolute;
  z-index: 1;
  margin-left: 130px;
  margin-top: -5px;
}

.add,
.remove {
  width: 25px;
  height: 25px;
  border-radius: 30px;
  align-content: center;
  font-weight: 600;
  font-size: 20px;
}

.add {
  background-color: rgba(0, 174, 255, 0.506);
}

.remove {
  background-color: rgba(255, 255, 255, 0.277);
}